In [1]:
#Python is interpeted PL
#Python 3 version ---Python 2
#Any program write on Python 2 ---Python 3

In [2]:
print("Hello World")

Hello World

In [3]:
print("Hello","World")

Hello World

In [6]:
print("Hello","World",sep="---")

Hello---World

In [7]:
n1=10
#Python is loosely typed PL
print(n1,type(n1))

10 <class 'int'>

In [8]:
n1=10
print(n1,type(n1))
n1=3.14
print(n1,type(n1))
n1=True
print(n1,type(n1))
n1="Hello world"
print(n1,type(n1))
n1='Hello World'
print(n1,type(n1))

10 <class 'int'>
3.14 <class 'float'>
True <class 'bool'>
Hello world <class 'str'>
Hello World <class 'str'>

In [9]:
n1=10
n2=2
n3=n1+n2
print(n3)
n3=n1-n2
print(n3)
n3=n1*n2
print(n3)
n3=n1/n2
print(n3)
n3=n1%n2
print(n3)
n3=n1**n2
print(n3)

12
8
20
5.0
0
100

In [10]:
n1=input("Enter a number")
print(n1,type(n1))

Enter a number 23

23 <class 'str'>

In [11]:
#Converting from one type to another type ---type casting
n1="23"
print(n1,type(n1))
n1=int(n1)
print(n1,type(n1))

23 <class 'str'>
23 <class 'int'>

In [13]:
n1=int(input("Enter number"))
print(n1,type(n1))

Enter number 34

34 <class 'int'>

In [14]:
n1="AAA"
n1=int(n1)

ValueError: invalid literal for int() with base 10: 'AAA'

In [15]:
n1=int(input("Enter n1"))
n2=int(input("Enter n2"))
n3=n1+n2
print(n3)

Enter n1 23
Enter n2 33

56

In [18]:
#Decision ---PL
n1=int(input("Enter n1"))
#Python we decide scope based upon on space
if n1 > 10:
    print(n1,"greater than 10")
else:
    print(n1,"is less or equal to 10")

Enter n1 3

3 is less or equal to 10

In [20]:
#Decision ---PL
n1=int(input("Enter n1"))
#Python we decide scope based upon on space
if n1 > 10:
    print(n1,"greater than 10")
elif n1 ==10:
    print(n1,"is equal to 10")
else:
    print(n1,"is less than 10")

Enter n1 10

10 is equal to 10

In [25]:
country=input("Enter a country")
match country:
    case "IN":
        print("India")
    case "US":
        print("USA")
    case _:
        print("Unknown country")

Enter a country CN

Unknown country

In [27]:
n1 = int(input("Enter n1"))
if n1==10:
    print("number entered was",n1)
    print(n1)
else:
    print("Inside else")
    print(n1)

Enter n1 4

Inside else
4

In [28]:
n10=3**5+4

In [29]:
n10

247

In [30]:
#Iterative loop
for i in range(5):
    print(i)

0
1
2
3
4

In [31]:
for i in range(1,3):
    print(i)

1
2

In [32]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [34]:
n1 = int(input("Enter number"))
for i in range(1,11):
    print(n1,"*",i,"=",n1*i)

Enter number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [35]:
i=1
while i < 10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9

In [36]:
#Functions
#functions are code which we can reuse

def hello():
    print("Hello World")

In [37]:
hello()

Hello World

In [38]:
hello()

Hello World

In [39]:
def add(a,b):
    return a+b

In [40]:
add(22,33)

55

In [41]:
add(10,20)

30

In [42]:
def power(x,n=2):
    return x ** n

In [43]:
power(10,3)

1000

In [44]:
power(4)

16

In [46]:
def power(x:int,y:int)->int:#hint only for developer ref
    return x+y

In [47]:
power(8,9)

17

In [48]:
power("Hello","World")

'HelloWorld'

In [49]:
def divmod(x,y):
    return (x/y,x%y)

In [50]:
divmod(10,20)

(0.5, 10)